.secondarySection {
  background: var(--main-color);
  background: linear-gradient(225deg,
      /* Changed from 135deg for RTL */
      hsl(200, 70%, 30%) 0%,
      var(--main-color) 100%);
  color: white;
}

.sectionTitle {
  display: inline-block;
  position: relative;
  padding: 0 40px;
  margin: 0 0 12px;
}

.line {
  color: var(--main-color);
}

.line::before,
.line::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 34px;
  top: 30%;
  background-color: var(--main-color);
  transform: translateY(-50%);
}

.line::before {
  right: 0;
  /* Changed from left for RTL */
}

.line::after {
  left: 0;
  /* Changed from right for RTL */
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}